.about {
  text-align: center;
  margin-top: 80px;
}

.about div {
  border-radius: 8px;
  padding: 10px;
}

.about-location div {
  background: var(--gray-light);
}

.about-info div {
  background: var(--gray-light);
  text-align: left;
  width: 700px;
}

.about-faq div {
  background: var(--gray-light);
  width: 400px;
  text-align: left;
  line-height: 10px;
  margin-bottom: 20px;
}