.auth-sidebar {
  z-index: 2;
  background-color: var(--green);
  padding: 1% 2% 0 2%;
  flex-grow: 1;
  color: white;
  text-align: center;
  display: block;
  overflow-y: scroll;
  min-height: 98%;
}

.auth-poster {
  width: 75%;
  animation: fade 5s infinite;
}

.auth-sidebar button {
  background: var(--black);
  color: white;
}

.auth-sidebar input {
  background-color: var(--gray-light);
}

.auth-sidebar textarea {
  background-color: var(--gray-light);
}

.auth-sign {
  width: 100%;
  margin: 10% 0 5%;
  text-align: center;
  font-size: 17px;
}