.auth-sidebar {
  background-color: var(--green);
  padding: 1% 2% 0 2%;
  flex-grow: 1;
  color: white;
  text-align: center;
  display: block;
  overflow-y: scroll;
  max-height: 110%;
}

.auth-poster {
  background-color: var(--yellow-light);
  width: 75%;
}

.auth-sidebar button {
  background: var(--black);
  color: white;
}

.auth-sidebar input {
  background-color: var(--gray-light);
  width: 94%;
}

.auth-sidebar textarea {
  background-color: var(--gray-light);
  width: 94%;
}

.auth-sign {
  width: 100%;
  margin: 10% 0 5%;
  text-align: center;
  font-size: 17px;
}