.booking {
  text-align: center;
  margin: 5% 2% 2% 2%;
}

.booking table {
  text-align: left;
  color: black;
  font-size: 20px;
  height: 74%;
  width: 70%;
  margin: 0 auto 20px auto;
  font-weight: bold;
}

.booking table td {
  width: 120px;
}

.booking-date button {
  color: black;
  background: var(--gray);
  margin: 20px 12px 20px 12px;
  width: 70px;
}

.booking-date button:disabled {
  color: white;
  background: var(--red);
  cursor: not-allowed;
}

.booking-course button {
  background: var(--gray);
  margin: 20px 50px 20px 10px;
  width: 30%;
  font-weight: bold;
  font-size: 20px;
}

.booking-time {
  padding: 20px 0 20px;
}

.booking-time button {
  background: var(--gray);
  margin: 10px;
  min-width: 80px;
  font-size: 18px;
}