.booking {
  text-align: center;
  margin-top: 8%;
  padding-bottom: 5%;
}

.booking table {
  text-align: left;
  color: black;
  font-size: 20px;
  height: 74%;
  width: 70%;
  margin: 0 auto 2% auto ;
  font-weight: bold;
}

.booking table td {
  height: 150px;
  min-width: 160px;
}

.booking-date button {
  color: black;
  background: var(--gray-light);
  margin: 0 12px 0 12px;
  width: 70px;
}

.booking-date button:disabled {
  color: white;
  background: var(--red);
  cursor: not-allowed;
}

.booking-course button {
  background: var(--gray-light);
  margin: 0 50px 0 10px;
  width: 30%;
  font-weight: bold;
  font-size: 20px;
}

.booking-time button {
  background: var(--gray-light);
  margin: 10px;
  min-width: 80px;
  font-size: 18px;
}