.customer-list {
    margin: 90px 0 5%;
}

.customer-list button {
    font-size: 18px;
    margin: 40px;
    background: var(--black);
    color: white;
}

.customer-list table {
    border-collapse: collapse;
    text-align: left;
    margin: auto;
    width: 60%;
}

.customer-list table thead {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.customer-list table thead td {
    padding: 15px 10px 15px 10px;
    background: var(--green);
    color: white;
    border: 2px var(--gray) solid;
}

.customer-list table tbody {
    font-size: 20px;
}

.customer-list table tbody tr:hover {
    opacity: 80%;
    cursor: pointer;
}

.customer-list-select {
    background: var(--yellow);
}

.customer-list tr:nth-child(even) {
    background: var(--gray-light);
}

.customer-list tr:nth-child(odd) {
    background: var(--gray);
}

.customer-list table tbody td {
    padding: 15px 10px 15px 10px;
    border: 2px white solid;
}