.customer-sidebar {
  background-color: var(--black);
  padding: 70px 2% 0 2%;
  color: white;
  text-align: center;
  width: 21%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  overflow-y: scroll;
}

.customer-sidebar p {
  font-size: 20px;
  opacity: 80%;
}

.customer-sidebar-table {
  overflow-y: scroll;
  max-height: 68%;
}

.customer-sidebar-table table {
  color: black;
  font-size: 20px;
  height: 74%;
  width: 100%;
}

.customer-sidebar table td {
  width: 100%;
  border: none;
}

.customer-sidebar table div {
  padding: 1px 10px 1px 10px;
  margin: 10px 0 10px 0;
  border-radius: 8px;
  cursor: pointer;
  word-break: break-word;
}

.reserve-confirm-div {
  background: var(--green);
  color: white;
}

.reserve-not-confirm-div {
  background: #ffffffbb;
}

.reserve-select {
  background: var(--yellow);
}

.customer-sidebar button {
  background: var(--green);
  margin-top: 22px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.customer-body {
  text-align: center;
  margin: 90px 25%;
  width: 75%;
}

.customer-detail {
  font-size: 20px;
  font-weight: 500;
  margin: 30px auto 20px auto;
  background: var(--gray);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  animation: fadeIn ease 1s;
}

.customer-detail input {
  background: white;
}

.customer-detail textarea {
  background: white;
  height: 68%;
}

.customer-detail button {
  background: var(--black);
  color: white;
}

.reserve-history-body {
  margin: auto;
  background: var(--gray);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  animation: fadeIn ease 1s;
}

.reserve-history-body form {
  border-radius: 10px;
}

.reserve-history-body textarea {
  width: 95%;
  background: white;
  margin: auto;
}

.reserve-history-body button {
  margin: 20px 0 20px;
  color: white;
  background: var(--black);
}

.customer-username-input input {
  width: 60%;
  padding: 10px;
}

.set-label {
  display: flex;
  justify-content: space-around;
  text-align: left;
}