.home-sidebar {
  background-color: var(--black);
  padding: 70px 2% 0 2%;
  color: white;
  text-align: center;
  width: 21%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.home-sidebar p {
  font-size: 20px;
  opacity: 80%;
}

.home-sidebar-table {
  overflow-y: scroll;
  max-height: 78%;
}

.home-sidebar-table table {
  color: black;
  font-size: 20px;
  height: 74%;
  width: 100%;
}

.home-sidebar table td {
  width: 100%;
  border: none;
}

.home-sidebar table div {
  padding: 1px 10px 1px 10px;
  margin: 10px 0 10px 0;
  border-radius: 8px;
  cursor: pointer;
  word-break: break-word;
}

.reserve-confirm-div {
  background-color: var(--green);
}

.reserve-not-confirm-div {
  background-color: #ffffffbb;
}

.reserve-select {
  background-color: var(--yellow);
}

.home-sidebar tr:hover {
  opacity: 80%;
}

.home-sidebar button {
  text-align: center;
  border: none;
  background: var(--green);
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  margin-top: 22px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.home-sidebar button:hover {
  opacity: 80%;
}

.fc {
  margin: 70px 4% 0 28%;
  height: 88vh;
}

.fc-day-disabled {
  background-color: var(--red) !important;
  opacity: 50% !important;
  border: none !important;
  cursor: not-allowed;
}

.fc-event {
  cursor: pointer;
}

/* .fc-day-today {
  background-color: var(--yellow) !important;
} */

.fc-daygrid-day div {
  min-height: 100%;
  max-height: 60px;
}

::-webkit-scrollbar {
  display: none;
}