.manage-sidebar {
  background: var(--black);
  padding: 70px 2% 0 2%;
  flex-grow: 1;
  color: white;
  text-align: center;
  display: block;
  overflow-y: scroll;
  max-height: 110%;
}

.manage-sidebar p {
  font-size: 20px;
  opacity: 80%;
}

.manage-sidebar-table {
  overflow-y: scroll;
  max-height: 79%;
}

.manage-sidebar-table table {
  color: black;
  font-size: 20px;
  height: 74%;
  width: 100%;
}

.manage-sidebar table td {
  width: 100%;
  border: none;
}

.manage-sidebar table div {
  padding: 1px 10px 1px 10px;
  margin: 10px 0 10px 0;
  border-radius: 8px;
  cursor: pointer;
  word-break: break-word;
}

.reserve-confirm-div {
  background: var(--green);
  color: white;
}

.reserve-not-confirm-div {
  background: #ffffffbb;
}

.reserve-select {
  background: var(--yellow);
}

.manage-sidebar tr:hover {
  opacity: 80%;
}

.manage-sidebar button {
  text-align: center;
  border: none;
  background: var(--green);
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  margin-top: 22px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.manage-body {
  text-align: center;
  margin-top: 60px;
  width: 75%;
}

.manage-customer {
  margin: 70px auto 20px auto;
  background: var(--gray);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
}

.manage-customer input{
  background: white;
  width: 94%;
}

.manage-customer textarea{
  background: white;
  height: 60%;
}

.manage-customer button{
  background: var(--black);
  color: white;
}

.reserve-history-body {
  margin: auto;
  background: var(--gray);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
}

.reserve-history-body form{
  border-radius: 10px;
}

.reserve-history-body textarea{
  width: 95%;
  background: white;
  margin: auto;
}

.reserve-history-body button{
  margin: 20px 0 20px;
  color: white;
  background: var(--black);
}

.manage-username-input input{
  width: 60%;
  padding: 10px;
}

.set-label {
  display: flex;
  justify-content: space-around;
}

/* .set-label input{
  font-size: 20px;
  margin: 20px 20px  20px 20px ;
} */

/* .set-label textarea{
  margin: 20px auto 20px auto;
  height: 60%;
} */

.container {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin: 0 30px 0 30px;
}

/* h1 {
  margin: 70px auto 10px auto;
  text-align: center;
} */

/* .manage-button {
  height: 100%;
} */