.nav-bar {
  justify-content: space-between;
  position: fixed;
  top: 0;
  display: flex;
  background-color: var(--green);
  width: 100vw;
  z-index: 4;
  color: var(--yellow);
  font-weight: 500;
  font-size: 22px;
}

.nav-bar button {
  color: white;
  font-size: 20px;
  padding: 10px;
  background: none;
  height: 50px;
}

.nav-bar button:hover {
  color: var(--black);
}

.nav-select {
  opacity: 60%;
}

/* .nav-not-select {
} */

/* .nav-logout {
} */