.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000c0;
  z-index: 5;
}

.popup button {
  background: var(--green);
  color: white;
}

.popup-div {
  background-color: white;
  color: black;
  position: absolute;
  padding: 20px;
  min-width: 16%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.popup-button {
  background: var(--green);
  color: white;
}