.store {
  text-align: center;
  margin: auto;
  width: 60%;
  animation: fadeIn ease 1s;
}
.store-container {
  display: flex;
  justify-content: space-around;
}

.store-container div {
  margin: 20px auto 20px auto;
  background: var(--gray);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  width: 40%;
}

.store input {
  padding: 10px;
}

.store textarea {
  padding: 10px;
}

.store button{
  margin-bottom: 20px;
  color: white;
  background: var(--black);
}